# Core libraries
telebot
python-dotenv
pandas
ta
scikit-learn
joblib
google-generativeai
psutil

# Binance API client
python-binance

# Scheduling library
schedule

# Logging and debugging
loguru

# Other utilities
requests
